.containerLetter {
  height: 80vh;
  display: grid;
  place-items: center;

}
.containerLetter > .envelope-wrapper {
  background: #4d4a4a;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}
.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid #383838;
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 130px solid transparent;
  border-right: 150px solid #000000;
  border-bottom: 120px solid #000000;
  border-left: 150px solid #000000;
}

.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 44%;
  height: 72%;
  transition: all 1s ease-in-out;
  padding: 20px 10px;
  border: 10px solid transparent;
  text-align: center;
  background-color: #f8f5de;
  background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
}

.envelope > .letter > .text {
  font-family: "AustralisProSwash-Italic";
  color: #444;
  text-align: right;
  font-size: 9px;
}
.heart {
  position: absolute;
  top: 56%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: rgb(199, 6, 6);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(199, 6, 6);
  border-radius: 50%;
}
.heart:before {
  top: -7.5px;
}
.heart:after {
  right: 7.5px;
}
.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
.flap > .envelope > .letter {
  bottom: 150px;
  transform: scale(1.5);
  transition-delay: 1s;
}
.flap > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

img.imgBirthday {
  max-height: 6vh;
  margin: auto;
}
.heartText {
  display: flex;
  color: white;
  font-family: "American Typewriter";
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 58%;
  left: 0;
  width: 100%;
  height: 15px;
  z-index: 4;
}
.textFotter{
  display: flex;
  justify-content: center;
  font-family: "American Typewriter";

}

@media screen and (min-width: 800px) {
  @media screen and (max-width: 950px) {
  .containerLetter {
    margin: 10rem;

  }
  .heart {
    top: 110%;
  }
  .heartText {
    top: 115%;
  }
  }
}
