.containerLetter {
  padding-top: 50px;
  height: 80vh;
  display: grid;
  place-items: center;
}
.containerLetter > .envelope-wrapper {
  background: #4d4a4a;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}
.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid #383838;
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 130px solid transparent;
  border-right: 150px solid #000000;
  border-bottom: 120px solid #000000;
  border-left: 150px solid #000000;
}

.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 56%;
  height: 85%;
  transition: all 1s ease-in-out;
  padding: 10px 5px;
  text-align: center;
  background-color: #f8f5de;
  letter-spacing: 0.05em;
}

.envelope > .letter > .text {
  font-family: "AustralisProSwash-Italic";
  color: #444;
  text-align: right;
  font-size: 9px;
}
.heart {
  position: absolute;
  top: 56%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: rgb(199, 6, 6);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(199, 6, 6);
  border-radius: 50%;
}
.heart:before {
  top: -7.5px;
}
.heart:after {
  right: 7.5px;
}
.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
.flap > .envelope > .letter {
  bottom: 200px;
  transform: scale(1.5);
  transition-delay: 1s;
}
.flap > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

img.imgBirthday {
  max-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0 0 25px rgba(255, 100, 100, 0.8);
  object-fit: cover;
}

.heartText {
  display: flex;
  color: white;
  font-family: "American Typewriter";
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 58%;
  left: 0;
  width: 100%;
  height: 15px;
  z-index: 4;
}
.textFotter {
  display: flex;
  justify-content: center;
  font-family: "American Typewriter";
}

@media screen and (min-width: 300px) {
  @media screen and (max-width: 374px) {
    .heart {
      top: 54%;
    }
    .heartText {
      top: 58%;
    }
  }
}

@media screen and (min-width: 375px) {
  @media screen and (max-width: 375px) {
    .heart {
      top: 60%;
    }
    .heartText {
      top: 63%;
    }
  }
}

@media screen and (min-width: 390px) {
  @media screen and (max-width: 390px) {
    .containerLetter {
      height: 65vh;
    }
    .heart {
      top: 58%;
    }
    .heartText {
      top: 62%;
    }
  }
}

@media screen and (min-width: 428px) {
  @media screen and (max-width: 428px) {
    .containerLetter {
      height: 68vh;
    }
    .heart {
      top: 57%;
    }
    .heartText {
      top: 60%;
    }
  }
}
@media screen and (min-width: 700px) {
  @media screen and (max-width: 799px) {
    .containerLetter {
      height: 150vh;
      padding-top: 75px;
    }
    .heart {
      top: 130%;
    }
    .heartText {
      top: 136%;
    }
  }
}

@media screen and (min-width: 800px) {
  @media screen and (max-width: 844px) {
    .containerLetter {
      height: 100vh;
      padding-top: 120px;
    }
    .heart {
      top: 106%;
    }
    .heartText {
      top: 108%;
    }
  }
}
