body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(66, 65, 65, 0.48);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border: 40px solid black;
  overflow-x: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "American Typewriter";
  width: 90%;
  color: #4d4a4a;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}
.headText {
  margin: 2rem;
}
